<p style="text-align: center; font-size: 15px;"><strong>[rentiq_contract item="extension_count"] AMENDMENT TO LEASE AGREEMENT</strong></p>
<p style="text-align: center; font-size: 15px"><strong>([rentiq_contract item="extension_count"] Extension of Lease</strong>)</p><br/>
<p style="text-align: center; font-size: 15px">This [rentiq_contract item="extension_count"] Amendment to the Lease Agreement entered into [rentiq_contract item="original_contract_date"] and between</p>

<br/>
<p style="text-align: justify; font-size: 15px">
<strong>Party (A) : MLZ Apartments by Milan Trnka and Nguon Khemrin</strong>
Village 05, Sangkat 04, Mittapheap district, Sihanoukville, Kingdom of Cambodia
<br/><br/>
and
</p><br/><p style="text-align: justify; font-size: 15px">
<strong>Party (B): [rentiq_contract item="tenant_name"]</strong>
for the premises located at: Village 05, Sangkat 04, Sihanouk Ville, Sihanouk Province, Cambodia - Unit number [rentiq_contract item="room_number"]
</p><p>
<ol style="text-align: justify;">
 	<li><strong>Original Lease agreement</strong>: The Lessor (Party A) and Lessee (Party B) have entered the original lease agreement dated [rentiq_contract item="original_contract_date"] for the premises described above for a term of [rentiq_contract item="contract_lenght"] months which began on [rentiq_contract item="date_from"]  and expired on [rentiq_contract item="date_till"].</li>
 	<li><strong>Extension of Lease</strong>: Both the Lessor (Party A) and Lessee (Party B) hereby mutually agree to extend the original term of the lease for a further period of [rentiq_contract item="extension_month_count"] months. The extended lease will begin on [rentiq_contract item="extension_from"] and shall terminate on [rentiq_contract item="extension_till"].</li>
 	<li><strong>Other term and condition</strong>: By signing below Lessor and Lessee agree that all terms and conditions of the original Lease Agreement shall remain in full force and effect during the extended lease period except for the following amendment: The deposit paid at the time of signing the original contract is refundable if the apartment is handed over in its original condition without damage even if the length of the contract as per this amendment is not completed.</li>
</ol>
</p><p>
<table width="100%"><tr><td align="left">
Party A
<br/>
<strong>
MLZ Apartments
<br/><br/><br/><br/>
…………………………
</strong>
</td><td align="right">
Party B
<br/>
<strong>[rentiq_contract item="tenant_name"]</strong>
<br/><br/><br/><br/>
……………………………
</td></tr></table>
<strong>Amendment signed in Sihanoukville [rentiq_contract item="extension_date"]</strong>

<br/><br/><br/>

Enclosures:
<br/>
Copy of passport
<br/>
Copy of visa
</p>