<p align="CENTER"><span lang="km"><b>ព្រះរាជាណាចក្រកម្ពុជា</b></span></p>
<p align="CENTER"><span lang="km"><b>ជាតិ សាសនា ព្រះមហាក្សត្រ​</b></span></p>
<p align="CENTER"><b>KINGDOM OF CAMBODIA</b></p>
<p align="CENTER"><b>NATION RELIGION KING</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>柬埔寨王国民族宗教国王</b></span></p>
<p align="CENTER">***</p>
<p align="CENTER"><span lang="km"><b>កិច្ចព្រមព្រៀងជួល</b></span></p>
<p align="CENTER"><b>LEASE AGREEMENT</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>租赁协议</b></span></p>


<hr />
<p align="CENTER"><span lang="km"><b>ផ្នែកទី១៖ ​ព័ត៌មានលម្អិតអំពីការជួល</b></span></p>
<p align="CENTER"><b>Part 1: Tenancy Details</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>1</b><span lang="zh-Hans"><b>部分：租赁详情</b></span></p>
<p align="CENTER"><u><span lang="km"><b>ភាគី ក៖ តំណាង​ម្ចាស់ទីតាំង</b></span></u></p>
<p align="CENTER"><u><b>Party A</b></u><u><b>: Owner Representative</b></u></p>
<p align="CENTER"><span lang="zh-Hans"><u><b>甲方：业主代表</b></u></span></p>

<table border="0" width="100%" cellspacing="0" cellpadding="4">
<tbody>
<tr valign="TOP">
<td width="30%">
<p><span lang="km">ឈ្មោះក្រុមហ៊ុន៖</span></p>
<p><span>Company Name:</span></p>
<p><span lang="zh-Hans">公司名称：</span></p>
</td>
<td width="70%">[rentiq_contract item="company_name"]</td>
</tr>
<tr valign="TOP">
<td>
<p><span lang="km">អាសយដ្ឋាន៖</span></p>
<p><span>Address:</span></p>
<p><span lang="zh-Hans"><span lang="zh-Hans">地址：</span></span></p>
</td>
<td>[rentiq_contract item="company_address"]</td>
</tr>
<tr valign="TOP">
<td>
<p><span lang="km">អ៊ីមែល៖</span></p>
<p><span>E-mail:</span></p>
<p><span lang="zh-Hans">电子邮箱：</span></p>
</td>
<td>[rentiq_contract item="company_email"]</td>
</tr>
<tr valign="TOP">
<td>
<p><span lang="km">លេខទូរសព្ទ៖</span></p>
<p><span>Phone number:</span></p>
<p><span lang="zh-Hans"><span lang="zh-Hans">电话号码：</span></span></p>
</td>
<td>[rentiq_contract item="company_phone"]</td>
</tr>
</tbody>
</table>
&nbsp;<br/>
&nbsp;<br/>
<p align="CENTER"><u><span lang="km"><b>ភាគី ខ៖ ​ព័ត៌មានលម្អិតអំពីអ្នកជួល</b></span></u></p>
<p align="CENTER"><u><b>Party B</b></u><u><b>: Tenant Details</b></u></p>
<p align="CENTER"><span lang="zh-Hans"><u><b>乙方：租户详情</b></u></span></p>

<table border="0" width="100%" cellspacing="0" cellpadding="4">
<tbody>
<tr valign="TOP">
<td width="30%">
<p><span lang="km">ឈ្មោះ</span></p>
<p><span>Name</span></p>
<p><span lang="zh-Hans">名称</span></p>
</td>
<td width="70%">[rentiq_contract item="tenant_name"]</td>
</tr>
<tr valign="TOP">
<td>
<p><span lang="km">ថ្ងៃខែឆ្នាំកំណើត</span></p>
<p><span>Date of Birth</span></p>
<p><span lang="zh-Hans">出生日期</span></p>
</td>
<td>[rentiq_contract item="tenant_birthdate"]</td>
</tr>
<tr valign="TOP">
<td>
<p><span lang="km">សញ្ជាតិ</span></p>
<p><span>Nationality</span></p>
<p><span lang="zh-Hans">国籍</span></p>
</td>
<td>[rentiq_contract item="tenant_country"]</td>
</tr>
<tr valign="TOP">
<td>
<p><span lang="km">លេខអត្តសញ្ញាណប័ណ្ណ </span><span lang="km">/ </span><span lang="km">លិខិតឆ្លងដែន៖</span></p>
<p><span>ID / Passport number:</span></p>
<p><span lang="zh-Hans">身份证号 </span>/ <span lang="zh-Hans">护照号：</span></p>
</td>
<td>[rentiq_contract item="tenant_id"]</td>
</tr>
<tr valign="TOP">
<td>
<p><span lang="km">លេខទូរសព្ទ</span></p>
<p><span>Phone number</span></p>
<p><span lang="zh-Hans"><span lang="zh-Hans">电话号码</span></span></p>
</td>
<td>[rentiq_contract item="tenant_phone"]</td>
</tr>
<tr valign="TOP">
<td>
<p><span lang="km">អ៊ីមែល / លេខទំនាក់ទំនង</span></p>
<p><span>Email / contact</span></p>
<p><span lang="zh-Hans">电子邮箱 / 联系号码</span></p>
</td>
<td>[rentiq_contract item="tenant_email"]</td>
</tr>
</tbody>
</table>
&nbsp;
<hr />
<p align="CENTER"><u><span lang="km"><b>ប្រការ ៣៖ អាសយដ្ឋាន​អចលនវត្ថុ</b></span></u></p>
<p align="CENTER"><u><b>Item 3: Property Address</b></u></p>
<p align="CENTER"><u><span lang="zh-Hans"><b>第</b></span><b>3</b></u><u><span lang="zh-Hans"><b>项：房产地址</b></span></u></p>
&nbsp;
<p align="CENTER"><u>[rentiq_contract item="property_address"]</u></p>

<hr />
<p align="CENTER"><u><span lang="km"><b>ប្រការ ៤៖ ថ្លៃឈ្នួល</b></span></u></p>
<p align="CENTER"><u><b>Item 4: Rent</b></u></p>
<p align="CENTER"><u><span lang="zh-Hans"><b>第</b></span><b>4</b></u><u><span lang="zh-Hans"><b>项：租金</b></span></u></p>
<p><span lang="km">លេខបន្ទប់៖</span></p>
<p><span>Room number: [rentiq_contract item="room_number"]</span></p>
<p><span lang="zh-Hans">房间号：</span></p>
&nbsp;

<p><span lang="km">ទឹកប្រាក់ថ្លៃឈ្នួល ( ក្នុងមួយខែ )</span></p>
<p><span>Rent Amount (per month): [rentiq_contract item="rent"] $</span></p>
<p><span lang="zh-Hans">租金金额（每月）</span></p>

&nbsp;
<table border="0" width="100%" cellspacing="0" cellpadding="4">
<tbody>
<tr valign="TOP">
<td width="25%">
<p><span lang="km">ថ្លៃឈ្នួលគិតចាប់ពី</span></p>
<p><span>Rent start from</span></p>
<p><span lang="zh-Hans">租赁时间为</span></p>
</td>
<td width="25%">[rentiq_contract item="date_from"]</td>
<td width="25%">
<p><span lang="km">ដល់</span></p>
<p><span>to</span></p>
<p><span lang="zh-Hans">至</span></p>
</td>
<td width="25%">[rentiq_contract item="date_till"]</td>
</tr>
</tbody>
</table>

<hr />

<p align="CENTER"><u><span lang="km"><b>ប្រការ ៥៖ ប្រាក់កក់</b></span></u></p>
<p align="CENTER"><u><b>Item 5: Security Deposit</b></u></p>
<p align="CENTER"><u><span lang="zh-Hans"><b>第</b></span><b>5</b></u><u><span lang="zh-Hans"><b>项：保证金</b></span></u></p>
<p><span lang="km">ចំនួនទឹកប្រាក់៖</span></p>
<p><span>Amount: [rentiq_contract item="deposit_amount"] $</span></p>
<p><span lang="zh-Hans">金额：</span></p>

&nbsp;
<hr />

<p align="CENTER"><u><span lang="km"><b>ប្រការ ៦៖ សេវាសាធារណៈ</b></span><span lang="km"><b>/</b></span></u><u><span lang="km"><b>សេវាផ្សេងៗ</b></span></u></p>
<p align="CENTER"><u><b>Item 6: Utilities/Services</b></u></p>
<p align="CENTER"><span lang="zh-Hans"><u><b>第</b></u></span><u><b>6</b></u><span lang="zh-Hans"><u><b>项：公共设施</b></u></span><u><b>/</b></u><span lang="zh-Hans"><u><b>服务</b></u></span></p>
<p align="CENTER"><span lang="km">សេវាសាធារណៈ និងសេវាដែលអ្នកជួលត្រូវបង់ថ្លៃប្រើប្រាស់</span></p>
<p align="CENTER">Utilities and services of which tenants pay for</p>
<p align="CENTER"><span lang="zh-Hans"><span lang="zh-Hans">租户需要支付的公共设施</span></span>/<span lang="zh-Hans"><span lang="zh-Hans">服务费用</span></span></p>
&nbsp;<br/>

<table><tr><td width="40%">
<p align="CENTER"><span lang="km"><u>អគ្គិសនី</u></span></p>
<p align="CENTER"><u>Electricity: [rentiq_contract item="electricity_price"] $ / kW</u></p>
<p align="CENTER"><span lang="zh-Hans"><u>电力</u></span></p>
</td><td width="60%">
<p><span lang="km">បរិមាណប្រើប្រាស់បង្ហាញក្នុងកុងទ័រ​អគ្គិសនីកម្ពុជា៖</span></p>
<p><span>EDC Reading: [rentiq_contract item="electricity_value"]</span></p>
<p><span lang="zh-Hans">电表读数</span>:</p>
</td></tr>
<tr><td>
&nbsp;
<p align="CENTER"><u><span lang="km">ទឹក</span></u></p>
<p align="CENTER"><u>Water [rentiq_contract item="water_price"] $ / m2</u></p>
<p align="CENTER"><u><span lang="zh-Hans">水</span></u></p>
</td><td>
<p><span lang="km">បរិមាណប្រើប្រាស់បង្ហាញក្នុងកុងទ័រទឹក៖</span></p>
<p><span>Water reading: [rentiq_contract item="water_value"]</span></p>
<p><span lang="zh-Hans">水表读数</span>:</p>
</td></tr></table>

&nbsp;

<p><span lang="km">អ៊ីនធឺណិត៖</span></p>
<p><span>Internet: [rentiq_contract item="services_internet"] $</span></p>
<p><span lang="zh-Hans">网络</span>:</p>

&nbsp;
<p><span lang="km">ទូរទស្សន៍ខ្សែកាប៖</span></p>
<p><span>Cable TV: [rentiq_contract item="services_tv"] $</span></p>
<p><span lang="zh-Hans">有线电视</span>:</p>

&nbsp;

<p><span lang="km">សំរាម៖</span></p>
<p><span>Garbage: [rentiq_contract item="services_garbage"] $</span></p>
<p><span lang="zh-Hans">垃圾</span>:</p>

&nbsp;
<p><span lang="km">ចំណតរថយន្ត៖</span></p>
<p><span>Car Parking: [rentiq_contract item="services_parking"] $</span></p>
<p><span lang="zh-Hans">停车场</span>:</p>

&nbsp;

<p><span lang="km">សេវាបោសសម្អាតផ្ទះ៖</span></p>
<p><span>Housekeeping service: [rentiq_contract item="services_housekeeping"] $</span></p>
<p><span lang="zh-Hans">家政服务</span><span lang="km">:</span></p>

&nbsp;
<hr />

<p align="CENTER"><u><span lang="km"><b>ប្រការ ៧៖ លក្ខខណ្ឌពិសេស</b></span></u></p>
<p align="CENTER"><u><b>Item 7: Special Conditions</b></u></p>
<p align="CENTER"><u><span lang="zh-Hans"><b>第</b></span><b>7</b></u><u><span lang="zh-Hans"><b>项：特殊条款</b></span></u></p>

&nbsp;<br/>
<p><span lang="km">បញ្ចប់កិច្ចសន្យា៖</span></p>
<p align="JUSTIFY"><span lang="km">ភាគី ខ ត្រូវបង់ប្រាក់ជារៀងរាល់ខែនៅថ្ងៃទី</span><span lang="km"><span> [rentiq_contract item="payment_date"] </span></span><span lang="km">។ ភាគី ក មានសិទ្ធិ​បញ្ចប់​កិច្ចសន្យានេះ ប្រសិន</span><span lang="km">​</span><span lang="km">បើ</span><span lang="km">​</span><span lang="km">ភាគី ខ មិនបាន​បង់ប្រាក់ក្នុងរយៈពេល ២ ថ្ងៃក្រោយកាលកំណត់បង់ ហើយ​ប្រាក់កក់</span><span lang="km">​</span><span lang="km">មុន</span><span lang="km">​</span><span lang="km">ចំនួន</span><span lang="km">​</span><span lang="km"><span> $[rentiq_contract item="deposit_amount"] </span></span><span lang="km">ដុល្លារនឹងមិនប្រគល់សងដល់ភាគី ខ វិញឡើយ។ ភាគី ខ ត្រូវបង់​ថ្លៃអគ្គិសនី និង</span><span lang="km">​</span><span lang="km">ថ្លៃទឹក</span><span lang="km">​</span><span lang="km">​ឱ្យភាគី ក។ រាល់ការខូចខាត​ដែលកើតឡើង​នៅក្នុង​អឹផាតម៉ិន​នឹងត្រូវទូទាត់សង​ដោយ</span><span lang="km">​</span><span lang="km">ភាគី ខ ដល់ភាគី ក រហូតដល់​ ២ ថ្ងៃក្រោយ​ពេលបញ្ចប់​កិច្ចសន្យា។</span></p>
<span>Terminate the Contract:</span>
<p align="JUSTIFY">Party B is responsible for payment every month on [rentiq_contract item="payment_date"] date. Party A has right to terminate this contract if Party B will delay payment for 2 days and advance deposit $[rentiq_contract item="deposit_amount"],- will not be returned to party B and party B should pay electricity and water to party A. All damage occurred in apartment will be pay by party B to party A until 2 days after contract termination.</p>
<span lang="zh-Hans">终止合同；</span>
<p><span lang="zh-Hans">乙方负责于每月的* 日付款。如果乙方延迟付款</span>2<span lang="zh-Hans">日，甲方有权终止本合同，且</span> $[rentiq_contract item="deposit_amount"] <span lang="zh-Hans">的定金不会退还至乙方，除此之外，乙方还应当向甲方支付水电费。乙方将就对公寓造成的所有损坏在合同终止后的</span>2<span lang="zh-Hans">日内向甲方付款。</span></p>

&nbsp;<br/>
<p align="CENTER"><u><span lang="km"><b>ការបង់ប្រាក់</b></span></u></p>
<p align="CENTER"><u><span><b>Payments</b></span></u></p>
<p align="CENTER"><u><span lang="zh-Hans">付款</span></u></p>

<table border="0"><tr><td width="25%">
<p><span lang="km">ជាសាច់ប្រាក់</span></p>
<p><span>Cash</span></p>
<p><span lang="zh-Hans">现金</span></p>

</td><td width="15%">
<p><span lang="km">ឬ</span></p>
<p><span>Or</span></p>
<p><span lang="zh-Hans">或</span></p>

</td><td width="60%">
<p><span lang="km">តាមគណនីធនាគារ</span></p>
<p><span>Bank account: [rentiq_contract item="company_account"]</span></p>
<p><span lang="zh-Hans">银行账户</span></p>
</td></tr></table>
&nbsp;

&nbsp;
<hr />

<p align="CENTER"><span lang="km"><b>ផ្នែកទី២ លក្ខខណ្ឌ​ស្តង់ដារ</b></span></p>
<p align="CENTER"><b>Part 2 Standard Terms</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>2</b><span lang="zh-Hans"><b>部分 标准条款</b></span></p>
<p align="CENTER"><span lang="km"><b>ប្រការ ១ បញ្ញត្តិទូទៅ</b></span></p>
<p align="CENTER"><b>Item 1 General</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>1</b><span lang="zh-Hans"><b>条 概述</b></span></p>
&nbsp;
<p align="LEFT"><span lang="km">១</span><span lang="km"><span>. </span></span><span lang="km">ម្ចាស់ទីតាំងយល់ព្រម​ជួល​អចលនវត្ថុ​ទៅឱ្យ​អ្នកជួល ស្រប​តាម​ ខ និង</span> <span lang="km">លក្ខខណ្ឌ​ដូចខាង</span><span lang="km">​</span><span lang="km">ក្រោម។</span></p>
<p align="LEFT">1. The Owner has agreed to lease the property to the Tenant in accordance to the terms and conditions below</p>
<p align="LEFT"><span lang="zh-Hans">业主已经同意根据下列条款和条件将房产出租给租户</span><span lang="km">
</span></p>
&nbsp;
<p align="LEFT"><span lang="km">២</span><span lang="km"><span>. </span></span><span lang="km">អ្នកជួល​​យល់ព្រម​ជួល​អចលនវត្ថុពីម្ចាស់ទីតាំង ស្របតាម​ ខ និងលក្ខខណ្ឌ​ដូចខាងក្រោម។</span></p>
<p align="LEFT">2. The Tenant has agreed to lease the property from the Owner in accordance to the terms and conditions below</p>
<p align="LEFT"><span lang="zh-Hans">租户已经同意根据下列条款和条件从业主处承租房产</span><span lang="km">
</span></p>
&nbsp;
<p align="LEFT"><span lang="km">៣</span><span lang="km">. </span><span lang="km">បញ្ជីបរិក្ខារ​ត្រូវបាន​រាយរាប់នៅក្នុង​ឧបសម្ព័ន្ធទី១។</span></p>
<p align="LEFT">3. The equipment itinerary is noted in Appendix 1</p>
<p align="LEFT"><span lang="zh-Hans">设备表在附件</span>1<span lang="zh-Hans">中注明。</span></p>
&nbsp;<br/>
<p align="CENTER"><span lang="km"><b>ប្រការ ២ កាតព្វកិច្ច​​របស់​ម្ចាស់ទីតាំង</b></span></p>
<p align="CENTER"><b>Item 2 Owners Obligations</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>2</b><span lang="zh-Hans"><b>条 业主义务</b></span></p>
&nbsp;<br/>
<p align="JUSTIFY"><span lang="km">១</span><span lang="km">. </span><span lang="km">នៅពេលចាប់ផ្តើមការជួល ម្ចាស់ទីតាំង​ត្រូវតែធានាថា បណ្តាញ​អគ្គិសនី ទឹក និងបរិក្ខារ</span><span lang="km">​</span><span lang="km">តាំង</span><span lang="km">​</span><span lang="km">ភ្ជាប់</span><span lang="km">​</span><span lang="km">ក្នុង​អចលនវត្ថុ​មានដំណើរការ​ល្អ។</span></p>
<p align="JUSTIFY">1. At the start of the tenancy, the owner must ensure the property all electrical, plumbing and fittings are in working condition</p>
<p align="JUSTIFY"><span lang="zh-Hans">租赁开始时，业主必须确保房产中的电力、管道和配件处于良好状态</span></p>
&nbsp;<br/>
<p align="CENTER"><span lang="km"><b>ប្រការ ៣ កាតព្វកិច្ច​​របស់​អ្នកជួល</b></span></p>
<p align="CENTER"><b>Item 3 Tenants Obligations</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>3</b><span lang="zh-Hans"><b>条 租户义务</b></span></p>
<p><span lang="km">១</span><span lang="km">. </span><span lang="km">អ្នកជួល</span></p>
<p><span>The Tenant must</span></p>
<p><span lang="zh-Hans"><b>租户必须</b></span></p>

&nbsp;
<p><span lang="km"><b>ក</b></span><span lang="km"><b>. </b></span><span lang="km"><b>មិនត្រូវពាក់ព័ន្ធនៅក្នុង​ការប្រើប្រាស់​អចលនវត្ថុ​ដោយ​ល្មើស​ច្បាប់ឡើយ</b></span></p>
<p><span>1. not engage in any unlawful use of the Property</span></p>
<p><span lang="zh-Hans">不得将房产用于任何非法用途</span></p>
&nbsp;
<p><span lang="km">ខ</span><span lang="km"><span>. </span></span><span lang="km">ត្រូវធានាថា សំឡេង និងការរំខាន​ត្រូវបានរក្សានៅក្នុង​កម្រិត​សមរម្យ</span></p>
<p><span>2. ensure noise and disturbances are kept to a reasonable level</span></p>
<p><span lang="zh-Hans">确保噪音和干扰处于合理的水平</span></p>
&nbsp;
<p><span lang="km">គ</span><span lang="km">. </span><span lang="km">ត្រូវធានាថា រាល់គ្រឿងប្រើប្រាស់ គ្រឿងបំពាក់ជាប់ និង​បរិក្ខារ​ផ្សេងៗត្រូវបាន​ប្រើប្រាស់​យ៉ាងមានសុវត្ថិភាព </span></p>
<p><span>3. ensure all appliances, fixtures and equipment are used in a safe manner</span></p>
<p><span lang="zh-Hans">确保以安全的方式使用所有家用电器、固定财产和设备</span></p>
&nbsp;
<p><span lang="km">ឃ</span><span lang="km">. </span><span lang="km">ហាមយកសត្វចិញ្ចឹមចូល។</span></p>
<p><span>4. No pets allowed</span></p>
<p><span lang="zh-Hans">不允许饲养宠物</span></p>
&nbsp;
<p><span lang="km">ង</span><span lang="km">. </span><span lang="km">ហាមជក់បារី​នៅក្នុង​អឹផាតម៉ិន</span></p>
<p><span>5. No smoking inside of apartment allowed</span></p>
<p><span lang="zh-Hans">不得在公寓内部抽烟 </span></p>
&nbsp;
<p><span lang="km">ច</span><span lang="km">. </span><span lang="km">ហាមសេពគ្រឿងញៀន</span></p>
<p><span>6. No drugs allowed</span></p>
<p><span lang="zh-Hans">禁止吸毒</span></p>
&nbsp;
<p><span lang="km">ឆ</span><span lang="km"><span>. </span></span><span lang="km">ហាមជួល​អឹផាតម៉ិន​ទៅឱ្យ​ភាគីទីបី</span></p>
<p><span>7. No rent apartment to the third party</span></p>
<p><span lang="zh-Hans">不得将公寓出租给第三方</span></p>
&nbsp;
<p><span lang="km"><span lang="km">រាល់ការរំលោភបំពានលើលក្ខខណ្ឌនៃប្រការ III។ នឹងត្រូវទទួលការផាកពិន័យដោយយោងតាមអត្រាពន្ធបច្ចុប្បន្ន ដែលចេញដោយ ការិយាល័យរដ្ឋបាលនៃអគារ ហើយអ្នកជួលត្រូវមានកាតព្វកិច្ចចាំបាច់បង់ថ្លៃផាកពិន័យជាបន្ទាន់។
</span></p>
<p><span>8. Any violation of the terms of Article III. will be penalized according to the current tariff published in the Reception of the building and the Lessee is obliged to pay the penalty promptly.
</span></p>
<p><span lang="zh-Hans">违反第三条规定的租客将按照公寓楼前台的收费标准进行处罚，承租客有义务及时缴纳罚款。</span></p>
&nbsp;<br/>
<p align="CENTER"><span lang="km"><b>ប្រការ ៤ ការត្រួតពិនិត្យ​អចលនវត្ថុ</b></span></p>
<p align="CENTER"><b>Item 4 Inspection of Property</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>4</b><span lang="zh-Hans"><b>项 房产检查</b></span></p>
&nbsp;<br/>
<p align="JUSTIFY"><span lang="km">១</span><span lang="km"><span>. </span></span><span lang="km">ម្ចាស់ទីតាំង ឬ​តំណាង​របស់ម្ចាស់ទីតាំង មានសិទ្ធិ​ត្រួតពិនិត្យ​អចលនវត្ថុ​ជាទៀងទាត់ ដោយ</span><span lang="km">​</span><span lang="km">ធ្វើ</span><span lang="km">​</span><span lang="km">ការជូនដំណឹង​យ៉ាងតិច ២៤ ម៉ោងជាមុន​​ដល់​អ្នកជួល ដើម្បីពិនិត្យមើល​ស្ថានភាព</span><span lang="km">​</span><span lang="km">អចលន</span><span lang="km"><span lang="ca-ES">-​</span></span><span lang="km">វត្ថុ។</span></p>
<p align="JUSTIFY">1. The owner or their representatives has the right to inspect the property on a periodic basis by giving at least 24 hours notice to the tenant to check its condition</p>
<p align="JUSTIFY"><span lang="zh-Hans">业主及其代表有权周期性地检查房产，但需至少提前</span>24<span lang="zh-Hans">小时向租户发出检查房产状况的通知</span></p>
&nbsp;<br/>
<p align="CENTER"><span lang="km"><b>ប្រការ ៥ ការថែទាំ</b></span></p>
<p align="CENTER"><b>Item 5 Maintenance</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>5</b><span lang="zh-Hans"><b>条 维护</b></span></p>
&nbsp;<br/>
<p align="LEFT"><span lang="km">១</span><span lang="km"><span>. </span></span><span lang="km">ចំណាយថែទាំក្រោម ២៥ ដុល្លារ ដែលមិនតម្រូវឱ្យប្រើ​ជំនាញ​​របស់ជាងជួសជុល </span><span lang="km"><span>(</span></span><span lang="km">ឧទាហរណ៍</span><span lang="km"> ការប្តូរអំពូលភ្លើង</span><span lang="km"><span>) </span></span><span lang="km">គឺជា​បន្ទុករបស់​អ្នកជួល។</span></p>
<p align="LEFT">1. Maintenance costs below $25 that do not require the expert knowledge of a trade person to fix (for example changing a light globe) are the responsibility of the Lessee.</p>
<p align="LEFT"><span lang="zh-Hans">低于</span>25<span lang="zh-Hans">美元的维护费用不需要专业人士的专业知识来解决（例如更换灯泡），且应由承租人负责。</span><span lang="km">
</span></p>
&nbsp;
<p align="LEFT"><span lang="km">២</span><span lang="km"><span>. </span></span><span lang="km">ចំណាយថែទាំចំពោះការខូចខាត​ដែលមិនមែនដោយសារ​អំពើ​ចេតនា ឬ​ធ្វេសប្រហែស​របស់​អ្នកជួល គឺជាបន្ទុករបស់​ម្ចាស់ទីតាំង។ ម្ចាស់ទីតាំង​ត្រូវ​ជួសជុល​ភ្លាមៗ និង​ឱ្យបាន</span><span lang="km">​</span><span lang="km">ឆាប់</span><span lang="km">​</span><span lang="km">រហ័ស។</span></p>
<p align="LEFT">2. Maintenance costs that are not due to willful or negligent act by the tenant are the responsibility of the owner. The owner must fix promptly and expeditiously.</p>
<p align="LEFT"><span lang="zh-Hans">不是由于租户的故意或疏忽行为造成的维护费用由业主负责。业主必须快速地进行修理。</span></p>
&nbsp;
<p align="LEFT"><span lang="km">នៅពេលបញ្ចប់កិច្ចសន្យាជួលនីមួយៗ យើងទូទាត់ថ្លៃសម្អាតទៅលើអ្នកជួល (ភាគីខ) សម្រាប់ការសម្អាត និងសម្លាប់មេរោគក្នុងអាផាតមិន (៥០ ដុល្លារក្នុងមួយអាផាតមិនស្ទូឌីយោ និង ៦០ ដុល្លារក្នុងមួយអាផាតមិនបន្ទប់គេងមួយ)។</span></p>
<p align="LEFT">3. At each termination of the tenancy we charge the Lessee (Party B) for a deep cleaning and disinfection of the apartment ( 50$ per studio apartment and 60 $ per one bedroom apartment)</p>
<p align="LEFT"><span lang="zh-Hans">租赁合同止时，租客（乙方）收取公寓深度清洁和消毒费用（单间房50 美元，一室一厅60 美元）</span></p>
&nbsp;<br/>
<p align="CENTER"><span lang="km"><b>ប្រការ ៦ ការកែលម្អ</b></span></p>
<p align="CENTER"><b>Item 6 Renovation</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>6</b><span lang="zh-Hans"><b>条 翻修</b></span></p>
&nbsp;<br/>
<p align="LEFT"><span lang="km">១</span><span lang="km"><span>. </span></span><span lang="km">អ្នកជួលត្រូវមាន​ការយល់ព្រម​ជាលាយលក្ខណ៍អក្សរ​ពី​ម្ចាស់ទីតាំង​</span> <span lang="km">​មុននឹង​ចាប់ផ្តើម​ធ្វើ</span><span lang="km">​</span><span lang="km">ការងារ</span><span lang="km">​</span><span lang="km">​</span><span lang="km">កែលម្អណាមួយនៅលើ​អចលនវត្ថុ។</span></p>
<p align="LEFT">1. The tenant shall have written approval from the Owner before starting any renovation work on the Property</p>
<p align="LEFT"><span lang="zh-Hans">对房产进行任何翻修作业之前，租户应获得业主的书面批准</span></p>
&nbsp;<br/>
<p align="CENTER"><span lang="km"><b>ប្រការ ៧ ការលក់អចលនវត្ថុ</b></span></p>
<p align="CENTER"><b>Item 7 Sale of the Property</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>7</b><span lang="zh-Hans"><b>条 房产的出售</b></span></p>
&nbsp;
<p align="JUSTIFY"><span lang="km">១</span><span lang="km"><span>. </span></span><span lang="km">អ្នកជួលយល់ព្រម​អនុញ្ញាតឱ្យ​អ្នកទិញ​ពិនិត្យមើល​អចលនវត្ថុ​។ ម្ចាស់ទីតាំងត្រូវ​ជូនដំណឹង​រយៈពេល ២៤ ម៉ោងជាមុនដល់​អ្នកជួល​មុននឹងធ្វើការត្រួតពិនិត្យ។</span></p>
<p align="JUSTIFY">1. The tenant agrees to make available Property for viewing by potential buyers. A prior notice of 24 hours shall be given to the tenant before such inspections</p>
<p align="JUSTIFY"><span lang="zh-Hans">租户同意，房产的潜在买家可查看房产。进行检查之前，业主应当提前</span>24<span lang="zh-Hans">小时通知租户</span></p>
&nbsp;
<p align="JUSTIFY"><span lang="km">២</span><span lang="km"><span>. </span></span><span lang="km">ក្នុងករណីអាផាតមិនដែលបានជួលត្រូវបានលក់ ភាគី ក (អ្នកតំណាងម្ចាស់នៃអាផាតមិន) មានសិទ្ធិបណ្តេញអ្នកជួល (ភាគី ខ) ចេញពីអាផាតមិន ទោះបីជាមុនពេលរយៈពេលកំណត់នៃកិច្ចសន្យាការជួលបានផុតកំណត់ក៏ដោយ ដោយក្នុងរយៈពេល ១៤ ថ្ងៃចាប់ពីការជូនដំណឹងទៅកាន់អ្នកជួល (ភាគី ខ). ក្នុងករណីនេះ ភាគី ក (អ្នកតំណាងម្ចាស់នៃអាផាតមិន) មានកាតព្វកិច្ចត្រូវប្រគល់ប្រាក់កក់វិញ បន្ទាប់ពីកាត់ចេញនូវការខូចខាតដែលកើតមានឡើងក្នុងអាផាតមិន។</span></p>
<p align="JUSTIFY">2. In case the leased apartment unit will be sold, Party A (Owner Representative) has the right to evict the Tenant (Party B) from the apartment even before the lease term expires within 14 days from the notification of this fact to the Tenant (Party B). In this case, Party A (Owner Representative) is obliged to return the security deposit after deduction of any damages.</p>
<p align="JUSTIFY"><span lang="zh-Hans">如果在租赁时间内公寓房出售给新的业主甲方（或者业主代表人）有权力停止租金合同并14天前通知租客。在这种情况下，甲方（或者业主代表人）有义务在扣除任何损失后退还保证金给乙方。</span></p>
&nbsp;<br/>
<p align="CENTER"><span lang="km"><b>ប្រការ ៨ ប្រាក់កក់</b></span></p>
<p align="CENTER"><b>Item 8 Security Deposit</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>8</b><span lang="zh-Hans"><b>条 保证金</b></span></p>
&nbsp;<br/>
<p align="JUSTIFY"><span lang="km">១</span><span lang="km"><span>. </span></span><span lang="km">ប្រាក់កក់​នឹងប្រគល់សង​ដល់​អ្នកជួល​វិញ​នៅពេល​បញ្ចប់​ការជួល លុះត្រាតែលក្ខខណ្ឌ​ដូច</span><span lang="km">​</span><span lang="km">ខាង</span><span lang="km">​</span><span lang="km">ក្រោម​ត្រូវបានគោរពតាម។</span></p>
<p align="JUSTIFY">1. The security deposit will be returned to the Tenant upon termination of the lease provided the following conditions are met</p>
<p align="JUSTIFY"><span lang="zh-Hans">本租赁终止时，保证金将退还给租户，前提是满足下列条件</span></p>
&nbsp;
<p align="JUSTIFY"><span lang="km">ក</span><span lang="km">. </span><span lang="km">រាល់វិក្កយបត្រ​សេវាសាធារណៈដែលមិនទាន់បង់​​ត្រូវបាន​ទូទាត់​ដោយ​អ្នកជួល។</span></p>
<p align="JUSTIFY">2. All outstanding utility bills has been paid by the Tenant</p>
<p align="JUSTIFY"><span lang="zh-Hans">租户支付所有未决的水电费</span></p>
&nbsp;
<p align="JUSTIFY"><span lang="km">ខ</span><span lang="km"><span>. </span></span><span lang="km">អ្នកជួល​បានទូទាត់សង​ការខូចខាត​ចំពោះ​អចលនវត្ថុ</span> <span lang="km">​ដែល​មិនកើតឡើងដោយសារ​ការ</span><span lang="km">​</span><span lang="km">សឹក</span><span lang="km">​</span><span lang="km">រិចរឹល​ដោយធម្មជាតិ។ </span></p>
<p align="JUSTIFY">3. Tenant has paid for any damage to the property beyond normal wear and tear</p>
<p align="JUSTIFY"><span lang="zh-Hans">租户就所有正常的磨损和裂缝外的房产损失进行赔偿</span></p>
&nbsp;
<p align="JUSTIFY"><span lang="km">គ</span><span lang="km"><span>. ​</span></span><span lang="km">កិច្ចព្រមព្រៀងជួល​មិនត្រូវបាន​បញ្ចប់​មុន​ថិរវេលា​កំណត់​ដែល​ចែងនៅក្នុងប្រការ ៤។</span></p>
<p align="JUSTIFY">4. The lease has not been terminated before the term specified in Item 4</p>
<p align="JUSTIFY"><span lang="zh-Hans">在第</span>4<span lang="zh-Hans">条规定的时期之前，租约未终止</span></p>
&nbsp;<br/>
<p align="CENTER"><span lang="km"><b>ប្រការ ៩ កិច្ចព្រមព្រៀង</b></span></p>
<p align="CENTER"><b>Item 9 Agreement</b></p>
<p align="CENTER"><span lang="zh-Hans"><b>第</b></span><b>9</b><span lang="zh-Hans"><b>条 协议</b></span></p>
&nbsp;
<p align="LEFT"><span lang="km">១</span><span lang="km"><span>. </span></span><span lang="km">កិច្ចព្រមព្រៀងនេះ​ត្រូវបានធ្វើជាភាសាខ្មែរ ចិន និង​អង់គ្លេស។ ក្នុងករណី​មានវិវាទ កិច្ចព្រម</span><span lang="km"><span lang="ca-ES">-​</span></span><span lang="km">ព្រៀង</span><span lang="km">​</span><span lang="km">ជាភាសាខ្មែរ​ត្រូវយកជា​គោល។</span></p>
<p align="LEFT">1. This Agreement is made in Khmer, Chinese and English languages. In case of any dispute, the Khmer language will prevail</p>
<p align="LEFT"><span lang="zh-Hans">本协议语言为高棉语、中文和英文。如有任何争议，高棉语优先</span></p>
&nbsp;
<p align="LEFT"><span lang="km">២</span><span lang="km"><span>. </span></span><span lang="km">កិច្ចព្រមព្រៀងនេះ​ត្រូវបានធ្វើឡើង​ដោយមិនមាន​ការបង្ខិត​បង្ខំ​ពីភាគីណាមួយឡើយ។ ម្ចាស់</span><span lang="km">​</span><span lang="km">ទីតាំង និង​អ្នកជួល​បានអាន និង​យល់​ខ្លឹមសារ​នៃ​កិច្ចសន្យា​ ហើយយល់ព្រម​ផ្តិតស្នាមមេដៃ​ទុក</span><span lang="km">​</span><span lang="km">ជាភស្តុតាង​ចំពោះមុខច្បាប់។</span></p>
<p align="LEFT">2. This Agreement is made without any coercion from any Party. The lessor and the lessee have read and understood the contract to be correct and are willing to thumbprint as proof before the law</p>
<p align="LEFT"><span lang="zh-Hans">本协议的签署出于自愿原则。出租人和承租人已阅读并理解本合同，本合同是正确的，且出租人和承租人愿意根据法律按手印作为证明</span></p>
&nbsp;
<p><span lang="km">៣</span><span lang="km"><span>. </span></span><span lang="km">កិច្ចព្រមព្រៀងនេះ​ត្រូវបានធ្វើជា ៣ ច្បាប់។</span></p>
<p><span>3. This agreement is made in 3 copies</span></p>
<p><span lang="zh-Hans">本协议一式三份</span></p>
<ul>
 	<li>
        <p><span lang="km">១ ច្បាប់​ប្រគល់ជូន​ម្ចាស់ទីតាំង</span></p>
        <p><span>1 copy is kept by the Owner</span></p>
        <p><span lang="zh-Hans">份由业主持有</span></p>
    </li>
</ul>
<ul>
 	<li>
        <p><span lang="km">១ ច្បាប់​ប្រគល់ជូន​អ្នកជួល</span></p>
        <p>1 copy is kept by the Tenant</p>
        <p><span lang="zh-Hans">份由租户持有</span></p>
    </li>
</ul>


<ul>
 	<li>
        <p><span lang="km">១ ច្បាប់​ប្រគល់ជូនក្រុមហ៊ុនអចលនទ្រព្យ</span></p>
        <p>1 copy is kept by the Agency</p>
        <p><span lang="zh-Hans">份由代理持有</span></p>
    </li>
</ul>

<hr />


<p align="CENTER"><b><span lang="km">ហត្ថលេខា៖</span></b></p>
<p align="CENTER"><b><span>Signatures:</span></b></p>
<p align="CENTER"><b><span lang="zh-Hans">签名：</span></b></p>

<table border="0" width="100%" cellspacing="0" cellpadding="4">
<tbody>
<tr valign="TOP">
<td width="25%">
<p align="CENTER">​<span lang="km">ម្ចាស់</span><span lang="km">​</span><span lang="km">ទីតាំង</span></p>
<p align="CENTER">Owner</p>
<p align="CENTER"><span lang="zh-Hans">业主</span></p>
</td>
<td width="25%"></td>
<td width="25%">
<p align="CENTER"><span lang="km">អ្នកជួល</span></p>
<p align="CENTER">Tenant</p>
<p align="CENTER"><span lang="zh-Hans">租户</span></p>
</td>
<td width="25%"></td>
</tr>
</tbody>
</table>
&nbsp;

<p><span lang="km">នៅក្រុងព្រះសីហនុ ថ្ងៃទី</span><span lang="km"><span>...... </span></span><span lang="km">ខែ</span><span lang="km"><span>........... </span></span><span lang="km">ឆ្នាំ</span><span lang="km"><span>..............</span></span></p>
<p><span>In Sihanoukville on…………..</span></p>
<p><span lang="zh-Hans">于</span>________<span lang="zh-Hans">于西哈努克城签署</span></p>

&nbsp;

<p style="page-break-before: always;"><span lang="km">ឧបសម្ព័ន្ធទី១៖ បញ្ជីបរិក្ខារ</span></p>
<p><span>Appendix 1: itinerary</span></p>
<p><span lang="zh-Hans">附件</span>1<span lang="zh-Hans">：设备表</span></p>

<hr class="apendixhr" />
<p><span lang="km">លិខិតឆ្លងដែនថតចម្លង៖</span></p>
<p><span>Passport copy:</span></p>
<p><span lang="zh-Hans">护照复印件：</span></p>

<hr class="apendixhr" />
<p><span lang="km">ទិដ្ឋាការ​ថតចម្លង៖</span></p>
<p><span>Visa copy:</span></p>
<p><span lang="zh-Hans">签证复印件：</span></p>