table {
  border: none;
}
tr {
  border: none;
}
td {
  border: none;
  padding: 10px;
}
span {
  clear: both;
  display: block;
  padding: 0px;
  margin: 0px;
}
p {
  margin: 0px;
  padding: 1px;
  font-size: 13px;
  line-height: 15px;
}
.apendixhr {
  margin-top: 250px;
}
hr {
  margin: 50px 0px;
}