.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

.qrcode {
  float: left;
  width: 182px;
  height: 180px;
  margin-left: 20px;
  margin-top: 30px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 1.4em;
  line-height: 2.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(dimension.png);
}

#project, #qrcode {
  float: left;
  display: block;
  width: 48%;
  clear: none;
  text-align: left;
}
#company {
  float: right;
  text-align: right;
  display: block;
  clear: none;
  width: 48%;
}

#project, #project span, #project td {
  text-align: left;
}
#company, #company span, #company td {
  text-align: right;
}
#project span, #company span {
  color: #5D6975;
  display: inline-block;
  font-size: 0.8em;
}
#project td, #company td {
  padding: 2px;
}
#company table, #project table {
  width: 100%;
}
#project div,
#company div {
  white-space: nowrap;        
}

#prices {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

#prices tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

#prices th,
#prices td {
  text-align: center;
}

#prices th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

#prices .service,
#prices .desc {
  text-align: left;
}

#prices td {
  padding: 20px;
  text-align: right;
}

#prices td.service,
#prices td.desc {
  vertical-align: top;
}

#prices td.unit,
#prices td.qty,
#prices td.total {
  font-size: 1em;
}

#prices td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1em;
}

footer {
  color: #5D6975;
  width: 80%;
  height: 30px;
  position: absolute;
  bottom: 0;
  padding: 8px 0;
  text-align: center;
}

div {
  padding: 3px;
}