/* Dashicons mixin use: @include dashicons( '\f140' ); */
/* Button mixin- creates 3d-ish button effect with correct highlights/shadows, based on a base color. */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


.wp-heading-inline, .wp-list-table th.sortable, .wp-list-table .row-title {
	/*font-family: 'Raleway', sans-serif !important;*/
    font-family: Roboto, Arial, sans-serif !important;
	font-weight: 500;
}
body, .wp-list-table th {
	/*font-family: 'Raleway', sans-serif !important;*/
    font-family: Roboto, Arial, sans-serif !important;
	font-weight: 300;
}

html { background: #f1f1f1; }

.subsubsub a {
    background: #0ba9f7;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    margin: 0 !important;
}
.subsubsub .zruseno {
    display: none;
}

#wpfooter {
	display: none;
}
.wp-list-table #export_tickets {
	width: 7%;
}
.wp-list-table .type-product .row-title, .wp-list-table .type-monthly_invoice .row-title {
	cursor: default;
	pointer-events: none;
	color: #656565;
}
.wp-list-table .column-event_print_tickets {
	text-align: center;
}
#wpwrap {
    background-color: #fff;
}
#wpcontent {
	background-color: #fff;
}
#wpcontent, #wpfooter {
    margin-left: 200px !important;
}
p.search-box {
    margin-top: -36px;
}
.subsubsub {
    margin-top: 20px;
}
#adminmenu {
    margin: 0;
}

#adminmenu li.menu-top {
    border-bottom: 1px solid #8ddbc9;
}

#adminmenu .wp-submenu {
	left: 200px;
}

#adminmenu a.menu-top {
    font-size: 14px;
    padding: 5px;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	width: 200px !important;
}

#adminmenuwrap #adminmenu #menu-posts-tc_events div.wp-menu-image:before {
	content: "\f508" !important;
	font-family: dashicons !important;
}

#adminmenuwrap #adminmenu #menu-posts-product .menu-icon-product div.wp-menu-image::before {
    content: "\f524" !important;
	font-family: dashicons !important;
}
#adminmenuwrap #adminmenu #menu-posts-shop_order div.wp-menu-image::before {
    content: "\f322" !important;
}

#adminmenu li.wp-has-current-submenu#menu-posts-tc_events a.wp-has-current-submenu {
	background-color: #199b9b !important;
}
#adminmenu div.wp-menu-image {
    padding-left: 8px;
}
#adminmenu .wp-has-current-submenu ul > li > a, .folded #adminmenu li.menu-top .wp-submenu > li > a {
	padding-left: 22px;
}

/* Links */
a { color: #21a284; }
a:hover, a:active, a:focus { color: #0073aa; }

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
    color: #21a284;
}

#media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover { color: #0096dd; }

/* Forms */
input[type=checkbox]:checked:before { color: #21a284; }

input[type=radio]:checked:before { background: #21a284; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active { color: #0096dd; }

/* Core UI */
.wp-core-ui .button-primary { background: #21a284; color: #fff; border: none; border-radius: 0; }
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:active, .wp-core-ui .button:hover { background: #0073aa; color: #fff; }
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled { color: #d0d1c7 !important; background: #8b943a !important; border-color: #737a30 !important; text-shadow: none !important; }
.wp-core-ui .button-primary.button-hero { box-shadow: 0 2px 0 #737a30 !important; }
.wp-core-ui .button-primary.button-hero:active { box-shadow: inset 0 3px 0 #737a30 !important; }
.wp-core-ui .wp-ui-primary { color: #fff; background-color: #121a0d; }
.wp-core-ui .wp-ui-text-primary { color: #121a0d; }
.wp-core-ui .wp-ui-highlight { color: #fff; background-color: #21a284; }
.wp-core-ui .wp-ui-text-highlight { color: #21a284; }
.wp-core-ui .wp-ui-notification { color: #fff; background-color: #456a7f; }
.wp-core-ui .wp-ui-text-notification { color: #456a7f; }
.wp-core-ui .wp-ui-text-icon { color: #f1f3f3; }

/* List tables */
.wrap .add-new-h2:hover, .wrap .page-title-action:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus { color: #fff; background-color: #121a0d; }

.view-switch a.current:before { color: #121a0d; }

.view-switch a:hover:before { color: #456a7f; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu { background: #cdf7ed; }

#adminmenu a { color: #fff; }

#adminmenu div.wp-menu-image:before { color: #21a284; }

#adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus { color: #fff; background-color: #21a284; }

#adminmenu a, #adminmenu li.menu-top { color: #21a284; background-color: #cdf7ed; }

.wp-submenu a {
	background-color: #126854 !important;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before { color: #fff; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover { background-color: #f1f1f1; border-bottom-color: #f1f1f1; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu { background: #126854; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after { border-right-color: #126854; }

#adminmenu .wp-submenu .wp-submenu-head { color: #fff; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a { color: #fff; }
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover { color: #21a284; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a { color: #fff; }
#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus { color: #21a284; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after { border-right-color: #fff; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top { color: #fff; background: #21a284; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before, #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, .ie8 #adminmenu li.opensub div.wp-menu-image:before { color: #fff; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins { color: #fff; background: #456a7f; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins { color: #fff; background: #121a0d; }

/* Admin Menu: collapse button */
#collapse-menu { color: #f1f3f3; }

#collapse-menu:hover { color: #fff; }

#collapse-button div:after { color: #f1f3f3; }

#collapse-menu:hover #collapse-button div:after { color: #fff; }

/* Admin Bar */
#wpadminbar { color: #fff; background: #121a0d; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon { color: #fff; }

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after { color: #f1f3f3; }

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item { color: #21a284; background: #121a0d; }

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label { color: #21a284; }

#wpadminbar:not(.mobile) li:hover .ab-icon:before, #wpadminbar:not(.mobile) li:hover .ab-item:before, #wpadminbar:not(.mobile) li:hover .ab-item:after, #wpadminbar:not(.mobile) li:hover #adminbarsearch:before { color: #fff; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper { background: #121a0d; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu { background: #313b3a; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a { color: #fff; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before { color: #f1f3f3; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li #adminbarsearch.adminbar-focused:before { color: #21a284; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .quicklinks li a:focus .blavatar, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before, #wpadminbar.mobile .quicklinks .ab-icon:before, #wpadminbar.mobile .quicklinks .ab-item:before { color: #21a284; }

#wpadminbar.mobile .quicklinks .hover .ab-icon:before, #wpadminbar.mobile .quicklinks .hover .ab-item:before { color: #f1f3f3; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before { color: #f1f3f3; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus { color: #fff; background: #2d3f3d; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder { color: #fff; opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder { color: #fff; opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder { color: #fff; opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder { color: #fff; opacity: 0.7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img { border-color: #2d3f3d; background-color: #2d3f3d; }

#wpadminbar #wp-admin-bar-user-info .display-name { color: #fff; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name { color: #21a284; }

#wpadminbar #wp-admin-bar-user-info .username { color: #fff; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 { background-color: #21a284; border-color: #969f3e; }

.wp-pointer .wp-pointer-content h3:before { color: #21a284; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner { border-bottom-color: #21a284; }

/* Media */
.media-item .bar, .media-progress-bar div { background-color: #21a284; }

.details.attachment { box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #21a284; }

.attachment.details .check { background-color: #21a284; box-shadow: 0 0 0 1px #fff, 0 0 0 2px #21a284; }

.media-selection .attachment.selection.details .thumbnail { -webkit-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #21a284; box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #21a284; }

/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme a:hover:after, .theme-browser .theme.add-new-theme a:focus:after { background: #21a284; }

.theme-browser .theme.add-new-theme a:hover span:after, .theme-browser .theme.add-new-theme a:focus span:after { color: #21a284; }

.theme-section.current, .theme-filter.current { border-bottom-color: #121a0d; }

body.more-filters-opened .more-filters { color: #fff; background-color: #121a0d; }

body.more-filters-opened .more-filters:before { color: #fff; }

body.more-filters-opened .more-filters:hover, body.more-filters-opened .more-filters:focus { background-color: #21a284; color: #fff; }

body.more-filters-opened .more-filters:hover:before, body.more-filters-opened .more-filters:focus:before { color: #fff; }

/* Widgets */
.widgets-chooser li.widgets-chooser-selected { background-color: #21a284; color: #fff; }

.widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before { color: #fff; }

/* Customize */
#customize-theme-controls .widget-area-select .selected { background-color: #21a284; color: #fff; }

/* Responsive Component */
div#wp-responsive-toggle a:before { color: #f1f3f3; }

.wp-responsive-open div#wp-responsive-toggle a { border-color: transparent; background: #21a284; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a { background: #121a0d; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before { color: #f1f3f3; }

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover, .mce-container.mce-menu .mce-menu-item.mce-selected, .mce-container.mce-menu .mce-menu-item:focus, .mce-container.mce-menu .mce-menu-item-normal.mce-active, .mce-container.mce-menu .mce-menu-item-preview.mce-active { background: #21a284; }

/*# sourceMappingURL=colors.css.map */

#collapse-menu {
	display: none;
}


#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
    border: none !important;
}
.widefat tfoot tr td, .widefat tfoot tr th, .widefat thead tr td, .widefat thead tr th {
    color: #fff;
    background-color: #21a284;
}
.widefat thead tr th.sortable a, .widefat tfoot tr th.sortable a {
    color: #fff !important;
}
.widefat thead tr th.sortable a:hover, .widefat tfoot tr th.sortable a:hover {
    color: #13b99a !important;
}

.wp-core-ui .button, .wp-core-ui .button-secondary {
    color: #fff;
    border: none;
    background: #13b99a;
	border-radius: 0;
}
.button.submit_leave {
	background: #a2a2a2;
}

.woocommerce nav.woo-nav-tab-wrapper {
    margin: 15px 1em !important;
}

.post-type-monthly_invoice .tablenav .tablenav-pages {
    margin: 10px 0 9px;
}
.tablenav {
    padding-top: 20px;
}
#wpadminbar {
	display: none;
}
html.wp-toolbar {
    padding-top: 0px !important;
}
#update-nag, .update-nag {
	display: none !important;
}

.nav-tab {
    border: 1px solid #F2B489;
    background: #FFE4D1;
}